body { padding-top: 70px; background-image:url('http://i.imgur.com/BkXheBd.jpg'); background-repeat:no-repeat; background-size: 100% auto;background-attachment: fixed;}
:not(nav) {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
